.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3000;
}

.popup-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 12px;
  padding: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.25s ease-in-out;
}

.popup-img {
  width: 400px; /* 이미지 크기 조정 가능 */
  border-radius: 10px;
}

.get-coupon-button {
  margin-top: 10px;
  width: 100%;
  background: #4949b1ff;
  color: #fff;
  padding: 10px 0;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s ease;
}

.get-coupon-button:hover {
  background: #3a3a98;
}

.get-coupon-button {
  margin : 0px;
  margin-top: 10px;
  padding: 8px 20px;
  cursor: pointer;
  font-weight: bold;
}
.popup-close-btn {
  margin-top: 10px;
  width: 100%;
  background: #4949b1ff;
  color: #fff;
  padding: 10px 0;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s ease;
}

.popup-close-btn:hover {
  background: #3a3a98;
}

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: #ffffff;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.popup-image {
  width: 400px;
  height: auto;
}

.popup-close-btn {
  margin-top: 10px;
  padding: 8px 20px;
  cursor: pointer;
  font-weight: bold;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}


/* popup-content를 기준으로 위치 잡기 */
.popup-content {
  position: relative;
}
.popup-text {
  position: absolute;
  font-size: 0.5rem;
  top: 16px;
  right: 50px;
}


/* 오른쪽 위 X 버튼 */
.popup-close-x {
  position: absolute;
  top: 8px;
  right: 10px;
  background: none;
  border: none;
  font-size: 9px;
  font-weight: bold;
  cursor: pointer;
  color: #333;
}

.popup-close-x:hover {
  color: #000;
}
