/* 상품 사이 광고 */
.advertise-list {
  width: 100%;
  margin-top: 10px;
}

.advertise-inline {
  width: 100%;
  height: 200px;
  max-width: 100%;   /* 🔥 이게 핵심 */
  border-radius: 8px;
}


/* 오른쪽 고정 배너 */
.right-ad-banner {
  position: fixed;
  right: 20px;
  top: 140px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  z-index: 3333;
}

.banner-img {
  width: 110px;
  height: 220px;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.25);
  transition: transform 0.15s ease;
}

.banner-img:hover {
  transform: scale(1.05);
}
/* 모바일(500px 이하)에서는 오른쪽 고정 배너 숨김 */
@media (max-width: 1900px) {
  .right-ad-banner {
    display: none;
  }
}